<div class="col-sm-6 container-fluid">
<p class="fs-5 text">Let's import a new recipe from the web!</p>
<form action="" method="POST">
  <div class="mb-3">
    <label for="recipe_name" class="form-label">Which ingredient do you want to search in AllRecipes.com?</label>
    <input name="ingredient" class="form-control" id="ingredient" type="search" placeholder="Search" aria-label="Search">
  </div>
  <button type="submit" class="btn btn-primary">New recipe!</button>
</form>
</div>
